*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
   font-family: "Orbitron", system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-optical-sizing: auto;
  font-weight: 50;
  font-style: normal;
}
header{
    display: flex;
    justify-content: center;
    gap: 3em;
    align-items: center;
    color: rgba(213, 213, 213, 0.735);
      font-size: clamp(0.51em, 3vw, 1em);
      margin: 1em;
}
nav ul{
    display: flex;
    gap: 2em;
}
section{
    margin: 1em 2em;
}
.main-content-container{
   margin-top: 4em;
}
.main-content-container .name{
    font-size: clamp(2em, 5vw, 5em);
}
.occuption{
    margin: 1em;
    font-weight: 900;
    color: dodgerblue;
}
.buttons{
    display: flex;
    gap: 4em;
    align-items: center;
}
.buttons button{
    padding: 5px 10px;
}
.work-header{
    display: flex;
    justify-content: center;
}
.work-container{
    margin-top: 2em;
    display: flex;
    flex-wrap: wrap;
    gap: 2em;
}
.work-container div{
   box-shadow: 0 10px 2em rgba(0, 0, 0, 0.1);
    height: 8em;
    width: 100%;
    background-color: gainsboro;
    border-radius: 5px;
}

footer{
    margin: 4em 2em 0.5em 2em;
}